<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:sqlserver://homecook.database.windows.net:1433;database=homecook</property>
    <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
      <mapping class="com.hibernate.entities.AccountsEntity"/>
      <mapping class="com.hibernate.entities.DishesEntity"/>
      <mapping class="com.hibernate.entities.MenusEntity"/>
      <mapping class="com.hibernate.entities.OrderItemsEntity"/>
      <mapping class="com.hibernate.entities.OrdersEntity"/>
      <mapping class="com.hibernate.entities.RolesEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>